:root {
  --primary-light: #1fa888;
  --primary-dark: #09384d;
}

* {
  font-family: Montserrat;
}

body {
  background-color: #fafafa;
}
/* 
                                 HEADER   
*/

.logo {
  color: var(--primary-dark);
}
.nav-item ul li a {
  cursor: pointer;
  color: var(--primary-dark);
}
.quote {
  color: var(--primary-dark);
  font-weight: 600;
  cursor: pointer;
}

/* 
                               HERO SECTION
 */

.hero {
  margin-top: 10px;
  background-image: url(./img/background1.png);
  height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  color: var(--primary-dark);
  padding-top: 60px;
}

.color-text {
  color: var(--primary-light);
}
.hero-heading {
  font-size: 52px;
  font-weight: bold;
  padding: 0px 100px;
}
.hero-text {
  color: gray;
}

.hero-btn {
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: var(--primary-dark);
  color: white;
  font-size: 18px;
}
.hero-form {
  background-color: #ffffff;
  height: 160px;
  border-radius: 40px;
  margin-top: 90px;
  display: flex;
  padding-left: 60px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
}
.hero-form button {
  border: none;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  background-color: var(--primary-light);
  color: white;
  font-size: 22px;
  margin: auto;
}

.hero-form form div label {
  color: var(--primary-dark);
  font-size: 18px;
}

.hero-form form div input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  .hero {
    padding-top: 0px;
  }
  .hero-heading {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 00px;
  }
  .hero-form {
    height: 450px;
    border-radius: 40px;
    margin-top: 20px;
    padding-left: 20px;
  }
  .hero-form button {
    margin: 10px;
  }
}

/* 
                        HERO BOTTOM 
*/

.hero-bottom {
  margin-top: 100px;
  opacity: 0.2;
}
.hero-bottom h4 {
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .hero-bottom {
    margin-top: 400px;
  }
}

.solutions h1 {
  font-size: 44px;
  font-weight: bold;
  color: var(--primary-dark);
}

.solutions p {
  padding-top: 10px;
  color: #6f8893;
}

.solutoin-card {
}
.solutoin-card > div {
  height: 400px;
  width: 400px;
  padding: 00px 10px;
}
.solutoin-card > div > div {
  height: 70%;
  width: 100%;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 20px;
}

.icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #f3f3f3;
  margin-top: -120px;
  border: 15px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-dark {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--primary-light);
  margin-top: -120px;
  border: 15px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > i {
  color: var(--primary-light);
}

.icon-dark >i{
  color: white;
}

.solutoin-card > div > div > h4 {
  color: var(--primary-dark);
  font-weight: bold;
  font-size: 28px;
  padding: 26px 35px 0px 35px;
}
.solutoin-card > div > div > p {
  padding: 11px 15px 0px 15px;
  color: #b5b5b5;
}

@media only screen and (max-width: 1000px) {
  .solutions h1 {
    font-size: 34px;
  }
}
