:root {
  --primary-light: #1fa888;
  --primary-dark: #09384d;
  --main-background:#fafafa;
}

* {
  font-family: Montserrat;
}

body {
  background-color: var(--main-background);
}

/* 
                                 HEADER   
*/
button:hover{
  opacity: .9;
}
button:active{
  opacity: .7;
}
.logo {
  color: var(--primary-dark);
}
.nav-item ul li a {
  cursor: pointer;
  color: var(--primary-dark);
}
.quote {
  color: var(--primary-dark);
  font-weight: 600;
  cursor: pointer;
}

/* 
                               HERO SECTION
 */

.hero {
  margin-top: 10px;
  background-image: url(./img/background1.png);
  height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  color: var(--primary-dark);
  padding-top: 60px;
}

.color-text {
  color: var(--primary-light);
}
.hero-heading {
  font-size: 52px;
  font-weight: bold;
  padding: 0px 100px;
}
.hero-text {
  color: gray;
}

.hero-btn {
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: var(--primary-dark);
  color: white;
  font-size: 18px;
}
.hero-form {
  background-color: #ffffff;
  height: 160px;
  border-radius: 40px;
  margin-top: 90px;
  display: flex;
  padding-left: 60px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
}
.hero-form button {
  border: none;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  background-color: var(--primary-light);
  color: white;
  font-size: 22px;
  margin: auto;
}

.hero-form form div label {
  color: var(--primary-dark);
  font-size: 18px;
  font-weight: 600;
}

.hero-form form div input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  .hero {
    padding-top: 0px;
  }
  .hero-heading {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 00px;
  }
  .hero-form {
    height: 450px;
    border-radius: 40px;
    margin-top: 20px;
    padding-left: 20px;
  }
  .hero-form button {
    margin: 10px;
  }
}

/* 
                        HERO BOTTOM 
*/

.hero-bottom {
  margin-top: 100px;
  opacity: 0.2;
}
.hero-bottom h4 {
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .hero-bottom {
    margin-top: 400px;
  }
}

/* 

                            SOLUTION SECTION 

*/
.solutions {
  margin-top: 20px;
}

.solutions h1 {
  font-size: 45px;
  font-weight: bold;
  color: var(--primary-dark);
}

.solutions p {
  padding-top: 10px;
  color: #6f8893;
  font-size: 18px;
}

.solutoin-card > div {
  height: 400px;
  width: 400px;
  padding: 00px 10px;
}
.solutoin-card > div > div {
  height: 70%;
  width: 100%;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 20px;
}

.icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #f3f3f3;
  margin-top: -120px;
  border: 15px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-dark {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--primary-light);
  margin-top: -120px;
  border: 15px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > i {
  color: var(--primary-light);
}

.icon-dark > i {
  color: white;
}

.solutoin-card > div > div > h4 {
  color: var(--primary-dark);
  font-weight: bold;
  font-size: 28px;
  padding: 26px 35px 0px 35px;
}
.solutoin-card > div > div > p {
  padding: 11px 15px 0px 15px;
  color: #b5b5b5;
}

@media only screen and (max-width: 1000px) {
  .solutions h1 {
    font-size: 34px;
    color: #09384d;
  }
}

/* 
                   SERVICESS
 */

.services {
  position: relative;
  background-color: var(--primary-dark);
  width: 100%;
  height: 700px;
  margin-top: 150px;
  border-radius: 40px;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.background-ffect-1 {
  top: -150px;
  left: -150px;
  height: 400px;
  width: 400px;
  background-color: var(--primary-light);
  position: absolute;
  filter: blur(200px);
}

.background-ffect-2 {
  bottom: -150px;
  right: -150px;
  height: 400px;
  width: 400px;
  background-color: var(--primary-light);
  position: absolute;
  filter: blur(200px);
}

.services h1 {
  font-size: 45px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
}

.services p {
  max-width: 600px;
  padding-top: 20px;
  opacity: 0.5;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .services {
    padding-top: 50px;
  }
}
/* 
                  SERVICESS CARDS
*/
.sevicess-card {
  margin-top: -380px;
  z-index: 10;
}

.sevice-card {
  padding: 10px;
}

.sevice-card > div {
  width: 400px;
  padding: 0px 10px;
}
.sevice-card > div > div {
  width: 100%;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 20px;
}

.sevice-icon {
  margin-top: -100px;
}

.sevice-card h1 {
  color: var(--primary-dark);
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0px;
}
.sml-text {
  font-size: 20px;
  opacity: 0.5;
  font-weight: 400;
}
.sevice-card h4 {
  font-size: 28px;
  color: var(--primary-dark);
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.sevice-card ul {
}

.sevice-card li {
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  opacity: 0.7;
}

.sevice-card li:before {
  content: "·";
  font-size: 80px;
  vertical-align: middle;
  line-height: 20px;
  padding-bottom: 15px;
  padding-right: 5px;
}

.sevice-card button {
  width: 80%;
  height: 50px;
  margin: 20px auto;
  background-color: #f4f4f4;
  color: var(--primary-dark);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.highlight h1 {
  color: var(--primary-light);
}

.sml-text {
  color: var(--primary-dark);
  opacity: 0.5;
}

.highlight button{
  background-color: var(--primary-light);
  color: white;
}


/* 
                BENEFITS SECTION 
*/

.benefits{
  margin: 70px 0px;
  padding: 0px 20px;
}


.benefits-tile{
  height: 120px;
  position: relative;
  background-color: white;
  color: var(--primary-dark);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px  0px  ;
  border: 2px solid rgba(128, 128, 128, 0.1);
  padding: 10px;
}

.benefits-tile-active{
  height: 120px;
  position: relative;
  background-color: var(--primary-dark);
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px  0px  ;
}
.benefits-tile h3{
  margin: auto;
  font-size: 32px;
}

.number{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: -12px;
  right: -12px;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 9px solid var(--main-background);
  font-size: 20px;
  color: white;
}

.benefits-details{
  margin: 40px 0px;
  padding-left: 70px;
}

.benefits-details >h1{
  font-weight: bold;
  font-size: 45px;
  color: var(--primary-dark);
  line-height: 70px;
}
.benefits-details >p{
  font-size: 20px;
  padding: 30px 0px;
  opacity: .5;
}

.benefits-check{
  display: flex;
  padding: 30px 10px;

}
.benefits-check p{
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-dark);
  opacity: .6;
}
.benefits-check i{
  color: #4caae9;

}
@media only screen and (max-width: 1000px) {
  .benefits-details{
    padding: 10px;
  }
  .benefits-details >h1{
  line-height: 45px;
  }
}


/* 
                     FOOTER SECTION 
*/



.footer{
  position: relative;
  background-color: var(--primary-dark);
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding: 300px 100px 10px 100px;
  align-items: center;
  z-index: 1;
  color: var(--main-background);

}

.divider{
  margin-top: 10px;
  height: 2px;
  background-color: var(--main-background);
  width: 100%;
  opacity: .2;
}
.divider-big{
  margin-top: 90px;
  height: 2px;
  background-color: var(--main-background);
  width: 100%;
  opacity: .2;
}


.light-text{
  opacity: .5;
}
.footer-icon{
  font-size: 32px;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .footer{
    position: relative;
    background-color: var(--primary-dark);
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 200px 10px 10px 10px;
    align-items: center;
    z-index: 1;
    color: var(--main-background);
  
  }
  .divider-big{
    margin-top: 50px;
    height: 2px;
    background-color: var(--main-background);
    width: 100%;
    opacity: .2;
  }
}